<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<li th:fragment="todoItem(item)">
    <div class="view">
        <form th:action="@{/{id}/toggle(id=${item.id})}" th:method="put">
            <input class="toggle" type="checkbox" onchange="this.form.submit()">
            <label th:text="${item.title}">Taste JavaScript</label>
        </form>
        <button class="destory"></button>
    </div>
    <input class="edit" value="Create a TodoMVC template">
</li>
</html>